.personal-main{
	width: 1180px;
	overflow: hidden;
	margin: 0 auto;
}
.personal-main1{
	height:228px;
	width:100%;
	border-top:1px solid #e5e5e5;
}
.personal-bg{
	width:994px;
	overflow: hidden;
	height:44px;
	margin-top:70px;
	margin-left: 100px;
	background-image: url('../images/personal.png');
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
.personal-bg1{
	
    background-position: 0px 0px;
}
.personal-main1 ul{
	width:1063px;
	height:48px;
	line-height: 24px;
	margin-left:76px;
	overflow: hidden;
}
.personal-main1 ul li{
	float:left;
	width:92px;
	margin-right: 146px;
	color:#333;
	overflow: hidden;
}
.personal-main1 ul li p{
	width:100%;
	text-align: center;
	font-size:14px;
}
.personal-main1 ul .personal-li1{
	color:#ea5a07;
}
.personal-main1 ul .personal-li2{
	margin-right:0px;
}
.personal-main2{
	width:100%;
	height:289px;
	border-top:1px solid #e5e5e5;
}
.personal-tit{
	background-image: url('../images/personal-tit.png');
    background-repeat: no-repeat;
    background-position: 0px 20px; 
    height:57px;
    line-height: 57px;
    font-size: 18px;
    text-indent: 14px;
    color:#666666;
}
.personal-main2 div{
	width:100%;
	height:232px;
	background-image: url('../images/personal-bg2.png');
    background-repeat: no-repeat;
    background-position: 0px 0px; 
    overflow: hidden;
}
.personal-main2 div ul{
	overflow: hidden;
}
.personal-main2 li{
	float:left;
	overflow: hidden;
}
.personal-main2-li1{
	width:389px;
	height:140px;
	margin-top:51px;
	text-align: center;
}
.personal-main2-li1 h3{
	font-size: 16px;
	line-height: 16px;
	color:#333;
	font-weight: normal;
}
.personal-main2-li1 h3 span{
	padding-right: 10px;
}
.personal-main2-li1 p{
	line-height: 78px;
	font-size: 18px;
	color:#ea5a07;
}
.personal-main2-li1 a{
	display: block;
	width:116px;
	height:40px;
	line-height: 40px;
	font-size:16px;
	color:#ea5a07;
	margin:0 auto;
	background-image: url('../images/personal-bg3.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.personal-main2-li2{
	width:1px;
	height:130px;
	margin-top: 51px;
	background:#e5e5e5;
	margin-right: 121px;
}
.personal-main2-li3{
	margin-top:51px;

}
.personal-main2-li3 h3{
	font-size: 16px;
	line-height: 16px;
	color:#333;
	font-weight: normal;
	margin-bottom: 17px;
}
.personal-main2-li3 p{
	color:#666;
	font-size:14px;
	line-height: 40px;
}
.personal-main2-li3 p span{
	padding-right: 10px;
	color:#999;
}
.personal-main3{
	width:100%;
	overflow: hidden;
}
.personal-main3 .personal-tit{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.personal-main3-ul1{
	width:100%;
	height:36px;
	background: #f2f2f2;
	color:#666666;
	line-height: 36px;
	font-size: 14px;
	overflow: hidden;
}
.personal-main3-ul1 li{
	float:left;
	overflow: hidden;
}
.personal-main3-li1{
	margin-left:20px;
	width:135px;
	margin-right: 5px;
}
.personal-main3-li2{
	width:294px;
	margin-right: 5px;
}
.personal-main3-li3{
	width:175px;
	margin-right: 5px;
}
.personal-main3-li4{
	width:195px;
	margin-right: 5px;
}
.personal-main3-li5{
	width:175px;
	margin-right: 5px;
}
.personal-main3-li6{
	width:150px;

}
.personal-main3-ul2{
	height:80px;
	width:100%;
	border-top:1px dashed #e5e5e5;
	padding:20px 0px;
	line-height: 80px;
	color:#333333;
	font-size:14px;
	overflow: hidden;
}
.personal-main3-ul2 li{
	float:left;
	overflow: hidden;
}
.personal-main3-li1 span{
	display: block;
	width:80px;
	height:80px;
}
.personal-main3-li1 span img{
	width:100%;
	height:100%;
}
.personal-main4{
	width:100%;
	border-top:1px solid #e5e5e5;
}
.personal-main4 div{
	background:#f8f8f8;
	width:100%;
	padding:50px 0px;
	overflow: hidden;
}
.personal-main4 div ul{
	width:1020px;
	margin-left:160px;
	height:43px;
	background-image: url('../images/personal-bg5.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    line-height: 43px;
    font-size:14px;
    overflow: hidden;
    color:#999999;
    
}
.personal-main4 div ul li{
	float:left;overflow: hidden;
}
.personal-main4-li1{
	margin-left:32px;
	width:213px;
}
.personal-main4-li2{
	width:164px;
}
.personal-main4-li2{
	width:250px;
}
.personal-main4 div .personal-main4-ul1{
	background-image: url('../images/personal-bg4.png');
	color:#ea5a07;
}
.personal-bg2{
    background-position: 0px -162px;
}
.personal-bg3{
    background-position: 0px -54px;
}
.personal-bg4{
    background-position: 0px -108px;
}
.personal-land{
	width:958px;
	float:left;
	margin-left:20px;
	overflow: hidden;
	border:1px solid #e5e5e5;
}
.personal-land h2{
	width:900px;
	height:68px;
	line-height: 68px;
	font-size:18px;
	color:#333;
	text-align: center;
	margin:0 auto;
	border-bottom:1px solid #e5e5e5;
}
.personal-land .personal-land-p1{
	width:900px;
	height:49px;
	line-height:36px;
	font-size:14px;
	text-align: center;
	color:#999999;
	margin:0 auto;
}
.personal-land div{
	width:842px;
	margin:0 auto;
	overflow: hidden;
}
.personal-land div h3{
	font-size:18px;
	color:#333;
	width:100%;
	height:48px;
	line-height:48px;
	font-weight: normal;
}
.personal-land div h3 span{
	color:#ea5a07;
}
.personal-land div p{
	text-indent: 2em;
	line-height: 30px;
	font-size:14px;
	color:#333;
}
.personal-land div a{
	display: block;
	width:140px;
	height:48px;
	line-height:48px;
	font-size:18px;
	color:#fff;
	margin:0 auto;
	margin-top:31px;
	margin-bottom:69px;
	background-image: url('../images/personal-land.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
	text-align: center;
	/*border-radius: 2px;*/
}
.head .con .personal-span{
	width:1px;
	height:42px;
	margin: 15px 40px 0px 40px;
	display: block;
	float:left;
	background:#e5e5e5;
}
.head .con .personal-p{
	float:left;
	font-size:30px;
	color:#333;
	margin-top:6px;
	line-height: 60px;
}
.sub-success{
	width:1180px;
	height:420px;
	margin:0 auto;
	margin-top:15px;
	border-top:2px solid #ea5a07;
	font-size:18px;
	color:#333;
	line-height: 30px;
	text-align: center;
}
.sub-success .lp_b{
	width: 94px;
	height: 94px;
	margin: 0px auto;
	margin-top: 80px;
}
.sub-success .lp_c{
	margin-top: 25px;
}
.sub-success .lp_e{
	width: 380px;
	height: 48px;
	margin: 0px auto;
	margin-top: 25px;
	text-align: center;
	line-height: 48px;
	font-size: 18px;
}
.sub-success .lp_e a{
	display: block;
	margin:0px 10px;
	width:170px;
	height:48px;
	color:#ea5a07;
	float:left;
	text-align: center;
	background-image: url('../images/sub-success1.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.sub-success .lp_e a:hover{
	background-image: url('../images/sub-success2.png');
	color:#fff;
}
.infor-bj{
background-color: rgba(0,0,0,0.3);
	border-radius: 2px;
	height: 535px;
	position: fixed;
	width: 628px;
	z-index: 994;
	left: 50%;
	margin-left: -314px;
	margin-top: -267.5px;
	top: 50%;
}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .infor-bj{
    background-color:#000000;
    filter:Alpha(opacity=30);
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  
}
.infor-ress{
	background: #fff;
	border-radius: 2px;
	height: 496px;
	width: 588px;
	position: fixed;
	left: 50%;
	margin-left: -294px;
	top: 50%;
	margin-top: -248px;
	z-index: 995;
}
.infor-bj2{
background-color: rgba(0,0,0,0.3);
	border-radius: 2px;
	height: 535px;
	position: fixed;
	width: 628px;
	z-index: 994;
	left: 50%;
	margin-left: -314px;
	margin-top: -267.5px;
	top: 50%;
}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .infor-bj2{
    background-color:#000000;
    filter:Alpha(opacity=30);
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  
}
.infor-ress2{
	background: #fff;
	border-radius: 2px;
	height: 496px;
	width: 588px;
	position: fixed;
	left: 50%;
	margin-left: -294px;
	top: 50%;
	margin-top: -248px;
	z-index: 995;
}
.infor-reul{
	overflow: hidden;
	width: 100%;
	padding-top: 35px;
}

.infor-reul li{
	height: 30px;
	overflow: hidden;
	padding-bottom: 20px;
}

.infor-rela{
	color: #666;
	display: block;
	float: left;
	line-height: 26px;
	font-size: 14px;
	width: 116px;
	text-align: right;
	padding-right: 14px;
}

.infor-rela font{
	color: #ff3333;
	font-size: 18px;
}

.infor-rein{
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	color: #666;
	height: 26px;
	line-height: 26px;
	width: 235px;
	outline: none;
	text-indent: 9px;
	font-size: 14px;
}
.infor-ress2 .infor-reul li{
	position: relative;
	overflow: hidden;
}
.infor-ress2 .infor-reul li .infor-del{
	display: block;
	width:26px;
	height:26px;
	position: absolute;
	top:7px;
	right:55px;
	background-image: url('../images/login_tb.png');
    background-repeat: no-repeat;
    background-position: 0px -170px;
    z-index: 996;
    cursor: pointer;
}


.infor-rese{
	appearance:none;
	background: url(../images/sele.jpg) no-repeat right center;
	background: none\9;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	color: #666;
	height: 28px;
	float: left;
	line-height: 28px;
	padding-left: 9px;
	font-size: 15px;
	width: 127px;
	outline: none;
	margin-right: 10px;
  -moz-appearance:none;
  -webkit-appearance:none;
}

.infor-reinc{
	width: 399px;
}

.infor-rebc{
	background-image: url('../images/infor-save.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
	color: #ffffff;
	display: block;
	height: 40px;
	width:115px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	margin-left: 46px;
	margin-top: 20px;
	float: left;
}
.infor-save{
	width:100%;
	margin-top:20px;
	overflow: hidden;
	border-top:1px solid #e5e5e5;
}
.infor-right{
	width:968px;
	float:left;
	margin-left: 20px;
	overflow: hidden;
}
.infor-right-top{
	border:1px solid #e5e5e5;
	overflow: hidden;
	margin-bottom:10px;
}
.infor-right h2{
	border-bottom:1px solid #e5e5e5;
	height:40px;
	padding: 0 20px;
	width:926px;
	line-height: 40px;
	font-size:16px;
	color:#333;
	overflow: hidden;
}
.infor-right h2 a{
	float:right;
	color:#ea5a07;
}
.infor-right h2 a span{
	padding-right: 5px;
	font-size:20px;
}
.infor-ulb{
	width:966px;
	height: 30px;
	padding-top: 20px;
	padding-bottom:20px;
	overflow: hidden;
}

.infor-ulb li{
	color: #666;
	width: 247px;
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	overflow: hidden;
}

.infor-ulb li label{
	display: block;
	float: left;
	width: 69px;
	line-height: 30px;
}

.infor-ulb li input{
	border-radius: 2px;
	border: 1px solid #E5E5E5;
	display: block;
	height: 26px;
	outline: none;
	text-indent: 5px;
	float: left;
	width: 174px;
	
}

.infor-ulb li select{
	background: url(../images/sele.jpg) no-repeat right;
	border-radius: 2px;
	border: 1px solid #E5E5E5;
	display: block;
	height: 28px;
	outline: none;
	text-indent: 5px;
	float: left;
	width: 176px;
	
	 appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}

.infor-blia{
	margin-left: 20px;
}
.infor-blib{
	margin-left: 20px;
}

.infor-blic{
	margin-left: 20px;
}

.infor-ulb li.infor-blid{
	width: 108px;
}

.infor-blid span{
	padding: 0 15px;
	color: #E5E5E5;
}

.infor-blid a{
	background: #EA5A07;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	float: right;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	width: 74px;
}
.infor-ul1{
	width:966px;
	padding:0 1px;
	height:36px;
	background:#f2f2f2;
	line-height: 36px;
	font-size:14px;
	overflow: hidden;
	color:#666;
}
.infor-ul1 li{
	float:left;
	overflow: hidden;
}
.infor-li1{
	width:91px;
	margin-left:20px;
	overflow: hidden;
	margin-right: 5px;
}
.infor-li2{
	width:190px;
	overflow: hidden;
	margin-right: 5px;
}
.infor-li3{
	width:81px;
	overflow: hidden;
	margin-right: 5px;
}
.infor-li4{
	width:141px;
	overflow: hidden;
	margin-right: 5px;
}
.infor-li5{
	width:231px;
	overflow: hidden;
	margin-right: 5px;
}
.infor-li6{
	width:100px;
	overflow: hidden;
	margin-right: 5px;
}
.infor-li7{
	width:70px;
	overflow: hidden;
}
.infor-right-c{
	width:966px;
	border:1px solid #e5e5e5;
	overflow: hidden;
	border-top:none;
}
.infor-ul2{
	width:966px;
	height:44px;
	line-height: 44px;
	font-size:14px;
	overflow: hidden;
	color:#333;
	border-top:1px dashed #e5e5e5;
}
.infor-ul2 li{
	float:left;
	overflow: hidden;
}
.infor-li7 a{
	color:#ea5a07;
}
.infor-ul2-f{
	border-top:none;
}
.sale_pwd{
	width: 490px;
	height: 48px;
	margin-left:185px;
	margin-top: 60px;
	overflow: hidden;
	/*border: 1px solid #f0f;*/
}
.sale_pwd .sale_repw{
	width: 100px;
	height: 48px;
	display: block;
	line-height: 48px;
	text-align: right;
	float: left;
	color: #666;
	font-size: 14px;
}
.sale_pwd input{
	width: 338px;
	height: 44px;
	outline: none;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding-left: 20px;
	font-size: 14px;
	/*color: #333;*/
	line-height: 46px;
	margin-left: 20px;
}
.sale_pwd01{
	width: 348px;
	height: 36px;
	font-size: 12px;
	color: #ccc;
	line-height: 36px;
	margin-left: 304px;
}
.sale_pwd01 .sale_ucon{
	margin-left: 5px;
	display: none;
}
.sale_repwd{
	width: 490px;
	height: 48px;
	margin-left:185px;
	overflow: hidden;
	/*border: 1px solid #f0f;*/
}
.sale_repwd .sale_repw{
	width: 100px;
	height: 48px;
	display: block;
	line-height: 48px;
	text-align: right;
	float: left;
	color: #666;
	font-size: 14px;
}
.sale_repwd input{
	width: 338px;
	height: 44px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding-left: 20px;
	font-size: 14px;
	/*color: #333;*/
	outline: none;
	line-height: 46px;
	margin-left: 20px;
}
.sale_repwd01{
	width: 348px;
	height: 36px;
	font-size: 12px;
	color: #ccc;
	line-height: 36px;
	margin-left: 304px;
}
.sale_repwd01 .sale_ucon{
	margin-left: 5px;
}
.sale_uimg{
	width: 16px;
	height: 16px;
	display: none;
	float: left;
	margin-top: 10px;
	/*border: 1px solid #f0f;*/
	background-image: url('../images/login_tb.png');
	background-repeat: no-repeat;
	background-position: 0px -139px;
}
.sale_pwtj{
	width:908px;
	height:107px;
	margin:0 auto;
	border-top:1px solid #e5e5e5;
	margin-top:15px;
}
.sale_pwtj a{
	display: block;
	width:360px;
	height:48px;
	background-image: url('../images/sale-save.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin:0 auto;
	margin-top:40px;
	color:#fff;
	text-align: center;
	line-height: 48px;
	font-size:18px;
}
.sale-b{
	width:968px;
	overflow: hidden;
	border:1px solid #e5e5e5;
}
.user-fr .sale-bot{
	border-bottom: none;
}
.content .sale-gg{
	margin: 180px auto 0px;
}
.not-ulb{
	background: #f2f2f2;
	height: 36px;
	width: 100%;
	overflow: hidden;
	/*margin-top: 30px;*/
}
.not-ulb li{
	overflow: hidden;
}

.not-ulb li{
	color: #666;
	float: left;
	line-height: 36px;
	font-size: 14px;
	overflow: hidden;
}

.not-blia{
	width: 75px;
}

.not-imga{
	margin-left: 10px;
	margin-right: 10px;
}

.not-imge{
	margin-top: 10px;
}

.not-blib{
	width: 403px;
	margin-right: 5px;
}

.not-blic{
	width: 108px;
	margin-right: 5px;
}

.not-blid{
	width: 127px;
	margin-right: 5px;
}

.not-blif{
	width: 207px;
	margin-right: 5px;
}

.not-blig{
	width: 130px;
}

.not-blig a{
	color: #666;
}

.not-blig a:hover{
	color: #EA5A07;
}
.content .not-mt{
	margin-top: 10px;
}

.content .not-mtt{
	margin-top: 0px;
}

.not-ulc{
	background: #fff;
	border-bottom: 1px dashed #E5E5E5;
	height: 84px;
	margin-top: 0;
	
}

.not-ulc li{
	line-height: 84px;
	overflow: hidden;
}

.not-imgb{
	margin-top: 34px;
}

.not-ulb li.not-clic{
	color: #333;
}

.not-blib span{
	background: url(../images/order-img.png) no-repeat;
	background-position: 0 -820px;
	display: block;
	text-indent: 10px;
}
.not-fr{
	width:960px;
	overflow: hidden;
}
.not-clic samp{
	font-family: arial;
}

.not-blig span{
	padding: 0 10px;
	color: #E5E5E5;
	font-size: 12px;
}


.not-cnow li.not-blia font.order-over{
	background-position: 0 0;
}


.not-cnow li.not-blib span{
	background-position: 0 -736px;
}

.not-cnow li.not-blig a{
	color: #EA5A07;
}
.not-tit{
	text-indent: 11px;
}
.content .gg0{
	margin-top:0px;
}
.content .gg40{
	margin-top:40px;
}
.help-c-l{
	width:198px;
	border:1px solid #e5e5e5;
	overflow: hidden;
}
.help-c-l p{
	width:100%;
	height:54px;
	overflow: hidden;
	line-height: 54px;
	font-size:16px;
	font-weight: bold;
	text-indent: 30px;
	background:#ea5a07;
}
.help-c-l p a{
	color:#fff;
}
.help-c-l dt{
	width:100%;
	height:49px;
	line-height: 48px;
}
.help-c-l dd{
	width:100%;
	height:49px;
	line-height: 48px;
}
.help-c-l dt a{
	display: block;
	width:165px;
	height:48px;
	border-top:1px dashed #cbcbcb;
	margin:0 auto;
	color:#2a2a2a;
	font-size:14px;
	font-weight: bold;
	text-indent: 15px;
}
.help-c-l dt a span{
	width:10px;
	height:2px;
	display: block;
	float:left;
	margin-left:14px;
	margin-top:24px;
	background:#cbcbcb;
}
.help-c-l dd a{
	display: block;
	width:165px;
	height:48px;
	border-top:1px dashed #cbcbcb;
	margin:0 auto;
	color:#666666;
	font-size:14px;
	text-indent: 39px;
}
.help-c-l dt .h48{
	height:48px;
}
.help-c-l dt .border-top{
	border-top:none;
}
.help-c-l dt:hover{
	background-image: url('../images/help-sel.png');
	background-repeat: no-repeat;
	background-position: 0px 1px;
}
.help-c-l dt:hover a{
	color:#fff;
}
.help-c-l dd:hover{
	background-image: url('../images/help-sel.png');
	background-repeat: no-repeat;
	background-position: 0px 1px;
}
.help-c-l dd:hover a{
	color:#fff;
}
.help-c-l .h-sel{
	background-image: url('../images/help-sel.png');
	background-repeat: no-repeat;
	background-position: 0px 1px;
}
.help-c-l .h-sel a{
	color:#fff;
}
.help-c{
	width:1180px;
	margin:0 auto;
	overflow: hidden;
}
.help-c-r{
	width:958px;
	overflow: hidden;
	border:1px solid #e5e5e5;
	padding-bottom: 85px;
}
.help-c-r h2{
	width:100%;
	height:68px;
	margin-top:14px;
	line-height: 68px;
	text-align: center;
	font-size:18px;
	color:#333;
}
.help-c-r h3{
	width:874px;
	height:70px;
	margin:0 auto;
	line-height: 70px;
	font-size:16px;
	color:#ea5a07;
}
.help-c-r p{
	width:874px;
	/*height:70px;*/
	margin:0 auto;
	line-height: 24px;
	font-size:14px;
	color:#333;
}
.help-c-r .help-c-r-sel{
	color:#ea5a07;
}
.help-c-r h4{
	width:874px;
	/*height:70px;*/
	margin:0 auto;
	line-height: 24px;
	font-size:14px;
	color:#333;
	font-weight: bold;
}
.content .gg28{
	margin-top:28px;
}
.bor-top{
	border-top:none;
}
.sale-t-alia{
	width:139px;
}
.my-ulc .my-clic select{
	color:#999;
}


.sale-alia{
	margin-left: 10px;
	width:86px;
}
.order-aula li{
	height: 36px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
}
.sale-alib{
	width:75px;
}
.sale-alic{
	width:105px;
}
.sale-alid{
	width:76px;
}
.sale-alie{
	width:86px;
}
.sale-alif{
	width:76px;
}
.sale-alig{
	width:115px;
}
.sale-alih{
	width:96px;
}
.sale-alii{
	width:115px;
}
.sale-alij{
	width:125px;
}
.sale-bulb li{
	font-size: 14px;
    color: #333333;
    
    height: 44px;
    float: left;
    overflow: hidden;
}
.sale-bulb .sale-alia{
	font-family: arial;
}
.sale-bulb .sale-alic{
	font-family: arial;
}
.sale-bulb .sale-alid{
	font-family: arial;
}
.sale-bulb .sale-alie{
	font-family: arial;
}
.sale-bulb .sale-alif{
	font-family: arial;
}
.sale-bulb .sale-alig{
	font-family: arial;
}
.sale-bulb .sale-alih{
	font-family: arial;
}
.sale-bulb .sale-alii{
	font-family: arial;
}
.order-main .sale-bulb{
    width: 968px;
    height: 44px;
    border-top: 1px dotted #e5e5e5;
    line-height: 44px;
    overflow: hidden;
}
.order-main .ordb-top{
	border-top:none;
}
.my-blic select{
	color:#999;
}
.shop-bj{
background-color: rgba(0,0,0,0.3);
	border-radius: 2px;
	height: 572px;
	position: fixed;
	width: 757px;
	z-index: 994;
	left: 50%;
	margin-left: -378.5px;
	margin-top: -286px;
	top: 50%;
}

.notice-wwbj{
	height: 560px;
	width: 630px;
	margin-left: -315px;
	margin-top: -280px;
}










@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .shop-bj{
    background-color:#000000;
    filter:Alpha(opacity=30);
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  
}
.shop-ress{
	background: #fff;
	border-radius: 2px;
	height: 532px;
	width: 717px;
	position: fixed;
	left: 50%;
	margin-left: -358.5px;
	top: 50%;
	margin-top: -266px;
	z-index: 995;
}
.shop-change{
	width:677px;
	margin:0 auto;
	overflow: hidden;
}
.shop-ulb{
	height: 30px;
	margin-top: 20px;
	overflow: hidden;
}

.shop-ulb li{
	color: #666;
	width: 271px;
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	overflow: hidden;
}

.shop-ulb li label{
	display: block;
	float: left;
	width: 84px;
	line-height: 30px;
}

.shop-ulb li input{
	border-radius: 2px;
	border: 1px solid #E5E5E5;
	display: block;
	height: 26px;
	line-height: 26px;
	outline: none;
	text-indent: 10px;
	float: left;
	width: 174px;
	
}
.shop-blia{
	margin-right:10px;
}
.shop-ulb li.shop-blid{
	width: 74px;
}


.shop-blid a{
	background: #EA5A07;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	float: right;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	width: 74px;
}
.lshop-ul1{
	width:675px;
	height:36px;
	background:#f2f2f2;
	font-size:14px;
	line-height:36px;
	color:#666;
	margin-top:21px;
	padding:0 1px;
}
.lshop-ul1 li{
	float:left;
	overflow: hidden;
}
.lshop-li1{
	width:36px;
	margin-left:9px;
}
.lshop-li2{
	width:65px;
	margin-right:10px;
}
.lshop-li3{
	width:112px;
	margin-right:10px;
}
.lshop-li4{
	width:53px;
	margin-right:10px;
}
.lshop-li5{
	width:97px;
	margin-right:10px;
}
.lshop-li6{
	width:187px;
	margin-right:10px;
}
.lshop-li7{
	width:56px;
	text-align: center;
}
.lshop-c{
	width:675px;
	border:1px solid #e5e5e5;
	border-top:none;
	overflow: hidden;
}
.lshop-ul2{
	width:675px;
	height:44px;
	font-size:14px;
	line-height:44px;
	color:#333;
	border-top:1px dotted #e5e5e5;
}
.lshop-ul2 li{
	float:left;
	overflow: hidden;

}
.lshop-ul2 .lshop-li2{
	font-family: arial;
}
.lshop-ul2 .lshop-li5{
	font-family: arial;
}
.lshop-c .bor-top{
	border-top:none;
}
.shop-imga{
	margin-top:15px;
}
.lshop_bg{
	width:677px;
	height: 40px;
	margin: 0px auto;
	margin-top: 20px;
}
.lshop_bg .pages ul{
	width: 463px;
	height: 36px;
	float: right;
}
.lshop_bg .pages ul li{
	float: left;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	margin-left: 5px;
	overflow: hidden;
	/*border-radius: 2px;*/
}
.lshop_bg .pages ul .li_fir a{
	border: 1px solid #ea5a07;
	color: #ea5a07;
	/*background-color: #f2f2f2;*/
}
.lshop_bg .pages ul li a{
	display: block;
	width: 34px;
	height: 34px;
	color: #666;
	border: 1px solid #e5e5e5;
	background-color: #f2f2f2;
	text-align: center;
	border-radius: 3px;
}
.lshop_bg .pages ul li a:hover{
	color: #ea5a07;
	border: 1px solid #ea5a07;
}
.lshop_bg .pages ul .p_fir{
	width: 90px;
	height: 36px;
	text-align: center;
	line-height: 36px;
}
.lshop_bg .pages ul .p_fir a{
	width: 88px;
	height: 34px;
	text-align: center;
	line-height: 36px;
	border: 1px solid #e5e5e5;
	background-color: #f2f2f2;
}
.lshop_bg .pages ul .p_fir a:hover{
	color: #ea5a07;
	border: 1px solid #ea5a07;
}
.lshop_bg .pages ul .p_las{
	width: 90px;
	height: 36px;
	text-align: center;
	line-height: 36px;
}
.lshop_bg  .pages ul .sl{
	width: 20px;
	height: 36px;
	text-align: center;
}
.lshop_bg .pages ul .p_las a{
	width: 88px;
	height: 34px;
	text-align: center;
	line-height: 36px;
	border: 1px solid #e5e5e5;
	background-color: #f2f2f2;
}
.lshop_bg .pages ul .p_las a:hover{
	color: #ea5a07;
	border: 1px solid #ea5a07;
}
.infor-ul2 .infor-li1{
	font-family: arial;
}
.infor-ul2 .infor-li4{
	font-family: arial;
}
.personal-main3-ul2 .personal-main3-li3{
	font-family: arial; 
}
.personal-main3-ul2 .personal-main3-li4{
	font-family: arial; 
}
.personal-main3-ul2 .personal-main3-li5{
	font-family: arial; 
}

.notice-sale-cont{
	width: 588px;
	height: 516px;
	margin-left: -294px;
	margin-top: -258px;
}

.not-sale-ula{
	border-bottom:1px solid #e6e6e6 ;
	overflow: hidden;
	height: 195px;
	width: 100%;
}

.not-sale-ula li{
	height: 30px;
	font-size: 14px;
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}

.not-sale-ula li label{
	display: block;
	float: left;
	line-height: 30px;
	width: 115px;
	text-align: right;
}

.not-saul-alia{
	margin-top: 35px;
}

.not-sale-ula li input{
	border:1px solid #e6e6e6 ;
	display: block;
	height: 28px;
	text-indent: 10px;
	outline: none;
	font-size: 14px;
	width: 235px;
	float: left;
	line-height: 28px;
	margin-left: 15px;
}

.not-sale-ula li.not-saul-alib input{
	width: 402px;
}
.not-sale-ulb{
	border-bottom:1px solid #e6e6e6 ;
	height: 150px;
	padding-top: 30px;
	width: 100%;
	overflow: auto;
}

.not-sale-ulb li{
	border:1px solid #e6e6e6 ;
	cursor: pointer;
	color: #303030;
	height: 51px;
	font-size: 14px;
	line-height: 51px;
	margin: 0 auto 10px;
	width: 499px;
}

.not-sale-ulb li span{
	float: left;
	padding: 0 10px;
}

li.not-sbul-blia{
	background: url(../images/pd_7.png) no-repeat right bottom;
	border:2px solid #EA5A07 ;
}
.not-sale-pa{
	width: 100%;
	overflow: hidden;
	padding-top: 20px;
}

.not-sale-aa{
	background: #EA5A07;
	border-radius: 3px;
	color: #fff;
	height: 40px;
	float: left;
	margin-left: 31px;
	font-size: 14px;
	width: 115px;
	line-height: 40px;
	text-align: center;
}
